project:
  type: book

book:
  page-navigation: true
  title: 2024 Alaska Electricity Trends Report 
  subtitle: Federal, state, and utility electricity data for Alaska, 2011-2021
  author:
    - name: "ACEP Data Team"
      affiliations:
        - name: "University of Alaska Fairbanks"
  description: Demonstration of Quarto's ability to render both HTML and PDF.
  date: June 2024
  date-format: "MMMM YYYY"
  # site-url: "https://ianalexmac.github.io/new-quarto-website/" 
  repo-url: https://github.com/ianalexmac/new-quarto-website
  repo-actions: [issue]
  downloads: [pdf]
 
  page-footer:
    right: "This page is based on Openscape's [Quarto Site Template](https://github.com/Openscapes/quarto-website-tutorial) and built with [Quarto](https://quarto.org/)"
    left: "&copy; CC BY-SA 4.0, 2024"
    
  sidebar:
    logo: "images/ACEP_gear.png"
    pinned: true
    align: center
    tools: 
      - icon: globe
        href: https://cookiecutter.readthedocs.io/en/stable/
        text: "Cookiecutter Project Templates"

  chapters:
    - index.qmd
    - credits.qmd
    - acronyms.qmd
    - methods.qmd
    - prices.qmd
  appendices:
    - about.qmd
    - setup.qmd

format:
  html:
    theme:
      light: [cosmo, theme.scss] # from https://github.com/sta210-s22/website/blob/main/_quarto.yml
      dark: [cosmo, theme-dark.scss]
    code-copy: true
    code-overflow: wrap
    css: styles.css
    toc: true
  pdf:
    pdfengine: xelatex
    documentclass: scrreprt
    papersize: a4

    fontsize: 11pt
    mainfont: "Times New Roman"
    sansfont: "Arial"
    # monofont: "Courier New"

    geometry:
      - inner=3cm
      - outer=3cm
      - top=3cm
      - bottom=2.5cm
      - headsep=22pt
      - headheight=11pt
      - footskip=33pt
      - ignorehead
      - ignorefoot
      - heightrounded

    toc: true
    toc-depth: 3
    toc-title: "Table of contents"
    lof: true
    lot: true
    number-sections: true
    number-depth: 2

    template-partials:
      - before-body.tex

    include-in-header: include-in-header.tex

filters:
  - quarto

